<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-upload"></i> Publicar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-times-circle"></i> Cancelar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@if(!isLoading){
<div class="container-fluid">
    <form class="row">
        <div class="col-12 mt-4">
            <div class="header">
                <div class="title">
                    <h4>Inserir novo conteúdo</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-12 side-form">
                <p for="flexSwitchCheckChecked ms-2">Status Geral</p>
                <div class="form-check form-switch d-flex">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                        [(ngModel)]="statusGeral" [ngModelOptions]="{standalone: true}" (change)="onSwitchChange()">
                    <label class="form-check-label ms-2" for="flexSwitchCheckChecked">Ativo</label>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nome</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    <label for="exampleFormControlInput1" class="form-label fw-bold">0/30 Caracteres</label>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ordem de exibição</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <select class="form-select" disabled aria-label="Default select example">
                    <option value="1">Funcionalidades</option>
                    <option value="1">WEB View</option>
                </select>
                <div class="mt-4">
                    <p>Funcionalidades:</p>
                    @for(funcionalidade of funcionalidades; track funcionalidade.id){
                    <div class="form-check d-flex">
                        <input class="form-check-input" type="radio" [id]="funcionalidade.id"
                            [value]="funcionalidade.id" name="funcionalidadeSelecionada">
                        <label class="form-check-label ml-4" [for]="funcionalidade.id">
                            <i class="{{ funcionalidade.icone }} ms-2"></i> {{ funcionalidade.nome }}
                            @if(funcionalidade.info){
                            <i class="fa fa-question-circle">
                                <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"></a>
                            </i>
                            }
                        </label>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p>Campos:</p>
            <div class="row">
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.nome}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.ra}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.escola}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.professor}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.ano_serie}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.periodo}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">{{dadosDaCrianca.turma}}</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
            </div>
        </div>
    </form>
</div>
}@else{
<h1>Carregando</h1>
}