<ul class="nav nav-pills nav-secao">
  <li role="presentation"><a role="button" routerLink=""><i class=""></i> VOLTAR</a></li>
  </ul>
  <div class="container-fluid row">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo">
        <img src="./../../assets/img/tenants-logos/unio.png" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 not-found">
          Página não encontrada
        </div>
      </div>
    </div>
  </div>